################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeMySeft/.vs/CodeMySeft/DesignTimeBuild/.dtbcache
